@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

body {
  transition: .25s ease-in-out;
}

.ripple {
  width: 10px;
  height: 10px;
  opacity: 0;
  z-index: 999;
  transform: scale(0);
  background: linear-gradient(178.18deg, rgba(253, 116, 155, 0.7) -13.56%, rgba(40, 26, 200, 0.7) 158.3%);

  border-radius: 50%;
  position: fixed;
}

.animate {
  animation: ripple-mo 1s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes ripple-mo {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(10);
    opacity: 0;
  }
}


header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: linear-gradient(174.48deg, #090A0D -12.41%, #281AC8 120.17%);
}

.navbar-expand-lg {
  transition: 500ms ease;
  background: transparent;
}

.navbar-expand-lg.scrolled {
  background: rgba(14, 12, 41, 0.7);
}

.nav-link {
  color: #FFFFFF;
  font-family: 'Poppins';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out !important;
}

.nav-link:hover {
  color: #ff0e83 !important;
}

.nav-link .d-md-none {
  width: 15px;
  margin-bottom: 1px;
}

.link-active {
  color: #ff0e83 !important;
}

.nav-item .btn {
  font-family: 'Poppins';
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  background: #FF0E83;
  line-height: 1px;
}

.nav-item .btn a {
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 0em;
  text-align: center;
}

.navbar-toggle {
  display: none;
  outline: transparent !important;
  border: 0;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  background-color: transparent;
}

#nav-icon1 {
  outline: transparent !important;
  /* width: 26px; */
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #FF0E83;
  border-radius: 9px;
  opacity: 1;
  left: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 12px;
  width: 21px;
}

#nav-icon1 span:nth-child(2) {
  top: 20px;
  width: 26px;
}

#nav-icon1 span:nth-child(3) {
  top: 28px;
  width: 18px;
}

#nav-icon1.open span:nth-child(1) {
  top: 20px;
  width: 26px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 20px;
  width: 26px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


.bg-images-one {
  transform: translate(310%, 300%);
  position: absolute;
}

.bg-images-two {
  transform: translate(-32%, -77%);
  position: absolute;
}

.bg-images-two img {
  width: 190px;
}

.bg-images-three {
  transform: translate(-50%, -45%);
  right: 0;
  position: absolute;
}

.bg-images-three img {
  width: 100px;
}

.main-header .col-12 {
  margin-top: 22%;
}

.main-header .col-md-4 {
  margin-top: 10%;
  margin-left: 3%;
}

.main-header .col-11 span {
  text-decoration: none;
  color: #DBDAEA;
  font-family: 'Poppins';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

}

.main-header .header-text {
  font-family: Nunito;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  line-height: 82px;
  letter-spacing: 0em;
  text-align: left;
}

.main-header .header-p {
  font-family: 'Barlow';
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.main-header .app-btns {
  cursor: pointer;
  width: 130px;
}

.footer {
  margin-top: 8%;
}

.footer .social-buttons .bt {
  margin-right: 17px;
}

.footer .footer2 .nav-link {
  z-index: 99;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
}

@media screen and (max-width: 991px) {
  .navbar-toggle {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  header {
    height: 100%;
  }

  .nav-item .btn {
    height: 35px;
  }

  .nav-item .nav-link:hover {
    color: #adabab !important;
    margin-left: 15px;
  }

  .navbar-toggle {
    display: block;
  }

  .bg-images-two {
    transform: translate(-32%, -42%);
    position: absolute;
  }

  .bg-images-two img {
    width: 130px;
  }

  .bg-images-three {
    transform: translate(-30%, -50%);
    right: 0;
  }

  .bg-images-three img {
    width: 80px;
  }

  .main-header .col-12 {
    margin-top: 40%;
  }

  .main-header .col-11 {
    margin-top: 15%;
  }

  .main-header .header-text {
    font-size: 45px;
    line-height: 50px;
  }

  .main-header .header-p {
    font-size: 15px;
    font-weight: 400;
  }

  .main-header .app-btns {
    width: 140px;
  }

  .footer {
    margin-top: 25%;
  }

  .footer .col-md-6 .nav-link {
    font-size: 12px;
  }

  .footer .col-md-6 {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }

  .bg-images-one {
    transform: translate(190%, 150%);
    position: absolute;
  }
}

@media screen and (max-width: 420px) {
  .main-header .header-text {
    font-size: 40px;
    line-height: 50px;
  }


  .bg-images-one {
    transform: translate(100%, 70%);
    position: absolute;
  }

  .main-header .app-btns {
    width: 135px;
  }
}

.stroke-dotted {
  opacity: 0;
  stroke-dasharray: 4, 5;
  stroke-width: 1px;
  transform-origin: 50% 50%;
  -webkit-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
  transition: opacity 1s ease, stroke-width 1s ease;
}

.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 4px;
  transition: stroke-dashoffset 1s ease, opacity 1s ease;
}

.icon {
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
}

#play-link:hover .stroke-dotted {
  stroke-width: 4px;
  opacity: 0;
}

#play-link:hover .stroke-solid {
  opacity: 0;
  stroke-dashoffset: 300;
}

#play-link:hover .icon {
  transform: scale(1.05);
}

#play {
  cursor: pointer;
}